<?xml version="1.0" encoding="UTF-8"?>

<module configVersion="1.0">
	
	<!-- Basic Module Properties -->
	<id>jasperreport</id>
	<name>Jasper Reports Module</name>
	<version>@MODULE_VERSION@</version>
	<package>org.openmrs.module.jasperreport</package>
	<author>Simon Kelly</author>
	<description>Module to generate JasperReports</description>

	<activator>org.openmrs.module.jasperreport.JasperReportActivator</activator>
	
	<require_version>1.8</require_version>
	<require_modules>
	</require_modules>
	
	<aware_of_modules>
	    <aware_of_module>org.openmrs.module.legacyui</aware_of_module>
	</aware_of_modules>
	
	<!-- /Basic Module Properties -->
	
	
	<!-- Internationalization -->
	<!-- All message codes should start with moduleId.* -->
	<messages>
		<lang>en</lang>
		<file>messages.properties</file>
	</messages>
	<!-- /Internationalization -->
	
		
	<!-- Required Privileges -->
	<privilege>
		<name>Manage Jasper Reports</name>
		<description>Able to Manage (Create/Edit/Delete) the Jasper Rports</description>
	</privilege>
	
	<privilege>
		<name>View Jasper Reports</name>
		<description>Able to view published reports</description>
	</privilege>
	<!-- /Required Privileges -->
	
	<!-- Extensions -->
	<extension>
		<point>org.openmrs.admin.list</point>
		<class>org.openmrs.module.jasperreport.extension.html.AdminList</class>
	</extension>
	<!-- /Extensions -->
	
	<!-- Servlets -->
	<!-- Accessed through the url /pageContext()/moduleServlet/moduleId/<servlet-name> -->
	<servlet>
		<servlet-name>jreportDownload</servlet-name>
		<servlet-class>org.openmrs.module.jasperreport.web.ReportDownloadServlet</servlet-class>
	</servlet>
	 
	<mappingFiles>
		JasperReport.hbm.xml
	</mappingFiles>
	
</module>